img {
    width: 44px;
    margin-right: 30px;                
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
    margin: 5px;
    border-radius: 4px;    
    font-size: 30px;
}
            
div {
    width: 300px;
}
